body {
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
  margin: 0;
}


body{
  background: linear-gradient(#000100 40%, #363eff);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

  .card{
    background-color: #000100;
    color: white;
    border: 1px solid #363eff;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden; 
    transition: transform 0.3s; 
    margin-right: 30px; 
    position: relative;
    width: 240px;
    height: 320px;
  }
  .container.py-5 {
    width: 100%; 
    height: auto;
    margin: 0 auto;
  }
  .card:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el mouse */
  }

  
  
  .card-img-top {
    width: 100%;
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    max-height: 180px;
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 3px;
    display: flex;
    flex-direction: column; /* Alinea el contenido verticalmente */
  }
  
  .product-name {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 1.1em;
    margin: 10px 0;

  }
  
  .btn.btn-primary{
    background-color: #004AAD; /* Color de fondo del botón */
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 15px; /* Bordes redondeados */
    text-align: center;
    width: 75px;
    height:29px;
    line-height: 29px;
    margin: 70px  30px; 
    text-decoration: none;
    font-family: 'Roboto', sans-serif; 
    font-weight: normal;
    font-size: 1rem;
    border: 1px solid #363eff;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card-img-top{ 
    width: 180px;
    height: 180px;
    object-fit: contain;
    margin: 0 auto;
    border: 1px solid #363eff;
    border-radius: 5px;
    display: flex;
    align-content: center;
  }

  .card-text{
    display: flex;
    margin-left: 1.5rem;
    margin-top: 40px;
    font-size: 18px;
  }

  
/*Fltro*/

.filter-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000100;
  color: white;
  width: 1080px;
  height: 60px;
  border: 2px solid #363eff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-left: 15px ;
  margin-right: auto;
}

.filter-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.filter-item {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: transparent;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.filter-item:nth-child(1) > 
*:first-child {
  margin-left: 60px; 
}


.filter-item:nth-child(2) > 
*:first-child {
  margin-left: -80px; 
}

.filter-row > :nth-child(3) { 
  width: 40%; 
  margin-right: 80px;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  border: 1px solid #363eff;
  
  border: 2px solid #363eff;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.modal-header h5 {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.modal-body img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  margin: 0 auto;
  border: 1px solid #363eff;
  border-radius: 5px;
  display: block; 
}

.modal-body p {
  font-size: 1.1rem;
  margin: 10px 0;
  text-align: left; 
}


.modal-footer button {
  background-color: #004AAD;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
  text-align: center;
  width: 150px;
  font-family: 'Roboto', sans-serif; 
  font-weight: normal;
  font-size: 1rem;
  border: 1px solid #363eff;
}

.modal-footer {
  display: flex;
  justify-content: space-between; 
}

.btn .bi-cart-fill {
  font-size: 1.1rem; 
}

