<!-- base.html -->  <!--html global ya que header y footer se muestran en cada vista-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu proyecto</title>
    <link rel="stylesheet" href="{% static 'global/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'global/css/footer.css' %}">
</head>
<body>
    <!-- Header global -->
    <header>
        <nav>
            <!-- Código del header -->
            <a href="/">Inicio</a>
            <a href="/perfil">Perfil</a>
            <a href="/carrito">Carrito</a>
        </nav>
    </header>

    <!-- Bloque que será reemplazado por el contenido específico de cada vista -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer global -->
    <footer>
        <!-- Código del footer -->
        <p>&copy; 2024 CodeHive. Todos los derechos reservados.</p>
    </footer>

    <script src="{% static 'global/js/header.js' %}"></script>
</body>
</html>
