{% extends 'base.html' %}

{% block content %}

<div class="container py-5">
    <!-- Primera fila de tarjetas -->
    <div class="row g-4">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="C:\Users\Balladares\OneDrive\Desktop\Proyecto-E-commerce\E-Commerce\Catalogo\imagen\Captura de pantalla 2024-10-08 231357.png" class="card-img-top" alt="Producto 1">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Producto</h5>
                    <p class="card-text">$100</p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="C:\Users\Balladares\OneDrive\Desktop\Proyecto-E-commerce\E-Commerce\Catalogo\imagen\Captura de pantalla 2024-10-08 231357.png" class="card-img-top" alt="Producto 2">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Producto</h5>
                    <p class="card-text">$150</p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="C:\Users\Balladares\OneDrive\Desktop\Proyecto-E-commerce\E-Commerce\Catalogo\imagen\Captura de pantalla 2024-10-08 231357.png" class="card-img-top" alt="Producto 3">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Producto</h5>
                    <p class="card-text">$200</p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="C:\Users\Balladares\OneDrive\Desktop\Proyecto-E-commerce\E-Commerce\Catalogo\imagen\Captura de pantalla 2024-10-08 231357.png" class="card-img-top" alt="Producto 4">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Producto</h5>
                    <p class="card-text">$250</p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Segunda fila de tarjetas -->
    <div class="row g-4">
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="C:\Users\Balladares\OneDrive\Desktop\Proyecto-E-commerce\E-Commerce\Catalogo\imagen\Captura de pantalla 2024-10-08 231357.png" class="card-img-top" alt="Producto 5">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Producto</h5>
                    <p class="card-text">$300</p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="C:\Users\Balladares\OneDrive\Desktop\Proyecto-E-commerce\E-Commerce\Catalogo\imagen\Captura de pantalla 2024-10-08 231357.png" class="card-img-top" alt="Producto 6">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Producto</h5>
                    <p class="card-text">$350</p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="C:\Users\Balladares\OneDrive\Desktop\Proyecto-E-commerce\E-Commerce\Catalogo\imagen\Captura de pantalla 2024-10-08 231357.png" class="card-img-top" alt="Producto 7">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Producto</h5>
                    <p class="card-text">$400</p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-3 mb-4">
            <div class="card h-100">
                <img src="C:\Users\Balladares\OneDrive\Desktop\Proyecto-E-commerce\E-Commerce\Catalogo\imagen\Captura de pantalla 2024-10-08 231357.png" class="card-img-top" alt="Producto 8">
                <div class="card-body">
                    <h5 class="card-title">Nombre del Producto</h5>
                    <p class="card-text">$450</p>
                    <a href="#" class="btn btn-primary"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

{% endblock %}