{% extends "InterfazGeneral/base.html" %}

{% load static %}

{% block content %}

<link  rel="stylesheet" href="http://127.0.0.1:8000/static/InterfazGeneral/css/styleCss.css">> 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Tu CSS personalizado desde una URL absoluta -->
<link rel="stylesheet" href="http://127.0.0.1:8000/static/InterfazGeneral/css/styleCss.css">

<h1>{{ producto.nombre }}</h1>
<p>{{ producto.descripcion }}</p>
<p>Stock: {{ producto.stock }}</p>
<p>Categoría: {{ producto.categoria.tipo }}</p>
<p>Juego: {{ producto.juego.nombre }}</p>

<!-- Aquí accedes directamente al campo imagen del modelo -->
<img src="{{ producto.imagen.url }}" alt="Imagen de {{ producto.nombre }}" class="img-fluid">

<!-- Botón para agregar o quitar del carrito -->

{% if producto_en_carro %}
    <a href="{% url 'carro:eliminar' producto.id %}" class="btn btn-danger">Quitar del carro</a>
{% else %}
    <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>
{% endif %}


<button><a href="{% url 'producto:api_mostrar_catalogo' %}">Volver al catalogo</a></button>

<a href="{% url 'carro:carrito' %}" class="btn btn-danger">Ir al carrito</a>

{% endblock %}
