<script src="https://sdk.mercadopago.com/js/v2"></script>


<div>

    <p>PARA REALIZAR EL PAGO DE TUS PRODUCTOS, PODRAS HACER USO DE MERCADO PAGO
        O TRANSFERENCIA AL ALIAS: CODEHIVE-PRODUCTOS Y LUEGO ENVIAR COMPROBANTE 
        AL WHATSAPP -------------
    </p>


</div>


<div>
    <p>PAGAR CON MERCADO PAGO</p>
    <button id="checkout-btn"></button>
</div>




<script>
    const mp = new MercadoPago('{{ public_key }}', {
        locale: 'es-AR'
    });

    mp.checkout({
        preference: {
            id: '{{ preference_id }}'
        },
        render: {
            container: '#checkout-btn', // ID del elemento donde se creará el botón
            label: 'Pagar con MercadoPago', // Etiqueta del botón
        }
    });
</script>