{% extends "InterfazGeneral/base.html" %}

{% load static %}

{% block content %}

<title>Carrito</title>


  <div class="modal-title">Carrito</div>



  {% if request.session.carro %}
  <!-- modal(carrito por dentro) -->
  <div class="modal-overlay" id="modal-overlay"></div>
  <!-- Es como un background para mostrar la web en segundo plano-->
  <div class="modal-container" id="modal-container">
    

    <a href="{% url 'carro:limpiar' %}" class="quantity-btn-increase">Vaciar carro</a>
    <div class="modal-body">
      {% for key, item in request.session.carro.items %}
      <div class="product">
        <div class="image-container">
          <img id="imagen1" class="product" src="{{item.imagen}}" />
        </div>

        <div class="product-info">
          <h4>{{item.nombre}}</h4>
        </div>

        <div class="quantity">
          <!-- Botón para restar producto -->
          <a href="{% url 'carro:restar' item.producto_id %}" class="quantity-btn-decrease">-</a>
      
          <!-- Mostrar la cantidad actual del producto -->
          <span class="quantity-input">{{ item.cantidad }}</span>
      
          <!-- Botón para agregar producto -->
          <a href="{% url 'carro:agregar' item.producto_id %}" class="quantity-btn-increase">+</a>
      </div>


      <!-- Botón para eliminar producto seleccionado -->
        <div class="price">{{item.precio}} </div>
        <a href="{% url 'carro:eliminar' item.producto_id %}" class="quantity-btn-increase">❌</a>
      </div>

      <div class="price">
        <p> Subtotal  </p>
        <p>{% widthratio item.cantidad 1 item.precio %} $</p>
    </div>
      {% endfor %}

      <div style="background-color: white;">
     
    </div>

      <!-- MODAL FOOTER -->
      <div class="modal-footer">
        <div class="total-price">Total: ${{importe_total_carro}}</div>
        
      </div>

      {% if authenticated %}
      <a href="{% url 'pagos:metodo_pago' %}" class="quantity-btn-increase">Pagar</a>
      {% else %}
      <p>Debe loguearse para poder pagar</p>
      {% endif %}
    </div>
  </div>



  {% else %}
  <p>No has seleccionado ningún producto aún.</p>
  {% endif %}
  <!-- Script -->
  <!-- <script src="../../static/carrito/js/carrito.js"></script> -->

  <!-- Boostrap -->

  

{% endblock %}

