{% extends "InterfazGeneral/base.html" %}

{% load static %}

{% block content %}

<title>Carrito</title>


  <div class="modal-title">Carrito</div>



  {% if request.session.carro %}
  <!-- modal(carrito por dentro) -->
  <div class="modal-overlay" id="modal-overlay"></div>
  <!-- Es como un background para mostrar la web en segundo plano-->
  <div class="modal-container" id="modal-container">
    <a href="#">
      <div class="modal-close">❌</div>
    </a>


    <div class="modal-body">
      {% for key, item in request.session.carro.items %}
      <div class="product">
        <div class="image-container">
          <img id="imagen1" class="product" src="{{item.imagen}}" />
        </div>

        <div class="product-info">
          <h4>{{item.nombre}}</h4>
        </div>

        <div class="quantity">
          <!-- Botón para restar producto -->
          <a href="{% url 'carro:restar' item.producto_id %}" class="quantity-btn-decrease">-</a>
      
          <!-- Mostrar la cantidad actual del producto -->
          <span class="quantity-input">{{ item.cantidad }}</span>
      
          <!-- Botón para agregar producto -->
          <a href="{% url 'carro:agregar' item.producto_id %}" class="quantity-btn-increase">+</a>
      </div>

        <div class="price">{{item.precio}} </div>
        <div class="delete-product">❌</div>
      </div>

      <div class="price">
        <p> Subtotal  </p>
        <p>{% widthratio item.cantidad 1 item.precio %} $</p>
    </div>
      {% endfor %}
      <!-- MODAL FOOTER -->
      <div class="modal-footer">
        <div class="total-price">Total: $.....</div>
        <button class="btn-primary" id="checkout-btn"> Go to Checkout</button>
      </div>
    </div>
  </div>



  {% else %}
  <p>No has seleccionado ningún producto aún.</p>
  {% endif %}
  <!-- Script -->
  <!-- <script src="../../static/carrito/js/carrito.js"></script> -->

  <!-- Boostrap -->



{% endblock %}