{% extends "GestionUsuarios/base.html" %}

{% load static %}

{% block content %}

<title>Carrito</title>

<body>
  <div class="modal-title">Carrito</div>



  {% if request.session.carrito %}
  <!-- modal(carrito por dentro) -->
  <div class="modal-overlay" id="modal-overlay"></div>
  <!-- Es como un background para mostrar la web en segundo plano-->
  <div class="modal-container" id="modal-container">
    <a href="#">
      <div class="modal-close">❌</div>
    </a>


    <div class="modal-body">
      {% for item in request.session.carrito %}
      <div class="product">
        <div class="image-container">
          <img id="imagen1" class="product" src="{{item.imagen}}" />
        </div>

        <div class="product-info">
          <h4>{{item.nombre}}</h4>
        </div>

        <div class="quantity">
          <button class="quantity-btn-decrese">-</button>
          <span class="quantity-input">{{item.cantidad}}</span>
          <button class="quantity-btn-increse">+</button>
        </div>

        <div class="price">{{item.precio}} </div>
        <div class="delete-product">❌</div>
      </div>
      {% endfor %}
      <!-- MODAL FOOTER -->
      <div class="modal-footer">
        <div class="total-price">Total: $.....</div>
        <button class="btn-primary" id="checkout-btn"> Go to Checkout</button>
      </div>
    </div>
  </div>



  {% else %}
  <p>No has seleccionado ningún producto aún.</p>
  {% endif %}
  <!-- Script -->
  <!-- <script src="../../static/carrito/js/carrito.js"></script> -->

  <!-- Boostrap -->

</body>

{% endblock %}