<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="/pruebas/header/styleCss.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>CodeHive Header</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <!-- Logo -->
                <a class="navbar-brand" href="{% url 'interfaz_general:home' %}">Code<span>Hive</span></a>
    
                <!-- Botón de colapsar para pantallas pequeñas -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <!-- Barra de búsqueda centrada -->
                <form class="d-flex justify-content-center mx-auto search-form" method="GET" >
                    <input class="form-control me-2 inputbuscar" type="search" placeholder="Buscar en CodeHive" aria-label="Search">
                    <button class="btn btnbuscar" type="submit">Buscar</button>
                </form>
    
                <!-- Menú de navegación colapsable -->
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'productos' %}active{% endif %}" 
                            href="{% url 'producto:api_mostrar_catalogo' %}">Productos</a>
                        </li>
                        <li class="nav-item">
                            <!--Botón carrito-->
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gestion_usuario:inicio_sesion' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'gestion_usuario:registro_usuario' %}">Sign In</a>
                        </li>  
                    </ul>
                </div>
            </div>
        </nav>   
    </header>    
    <main>
        <div>
            <div>
                <!--Sección categorías-->
            </div>
            <div>
                <!--Sección dinámica-->
              
                {% block content %}
            
                {% endblock %}
            </div>
        </div>
    </main>

    
    <footer>
        <div class="container">
            <p class="m-0 mbt">
                <a href="https://github.com/AndresPampa" class="link">Andrés Álvarez</a> ·
                <a href="https://github.com/renzoarredondo1988" class="link">Renzo Arredondo</a> ·
                <a href="https://github.com/Flor-balladares" class="link">Florencia Balladares</a> ·
                <a href="https://github.com/cococalabro" class="link">Ángel Calabró</a> ·
                <a href="https://github.com/GiulianaDeEt" class="link">Dealbera Giuliana</a> ·
                <a href="https://github.com/Tiago0613" class="link">Ibarola Tiago</a> ·
                <a href="https://github.com/YESS-BAIT-LEJEM" class="link">Yessica Reynoso</a>
            </p>
            <p class="m-0 mbt1">CodeHive Team | UTN San Rafael</p>
        </div>
    </footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
