
{% extends "InterfazGeneral/base.html" %}

{% load static %}

{% block content %}

    <header>
        <h1>CodeHive</h1>
    </header>

    <section class="banner">
        <div class="banner-text">
            <p>Lorem ipsum</p>
            <h2>dolor sit amet</h2>
            <p>consectetur adipiscing elit!!</p>
        </div>
        <img src="path/to/your/banner-image.jpg" alt="Imagen del Banner">
    </section>

    <section class="product-grid">
        <div class="card">
            <img src="path/to/your/product-image1.jpg" alt="Producto 1">
            <h3>Nombre producto</h3>
            <p class="price">$--.--</p>
            <a href="#" class="btn">VER</a>
        </div>
        <div class="card">
            <img src="path/to/your/product-image2.jpg" alt="Producto 2">
            <h3>Nombre producto</h3>
            <p class="price">$--.--</p>
            <a href="#" class="btn">VER</a>
        </div>
        <div class="card">
            <img src="path/to/your/product-image3.jpg" alt="Producto 3">
            <h3>Nombre producto</h3>
            <p class="price">$--.--</p>
            <a href="#" class="btn">VER</a>
        </div>
        <div class="card">
            <img src="path/to/your/product-image4.jpg" alt="Producto 4">
            <h3>Nombre producto</h3>
            <p class="price">$--.--</p>
            <a href="#" class="btn">VER</a>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 CodeHive</p>
    </footer>


{% endblock %}